:root{
  --mainBurgandy: #A50044;
  --lightBlue: #004D98;
  --mainWhite: #f3f3f3;
  --mainDark:#232528;
  --mainYellow: #EDBB00;
}

body{
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
  color:var(--mainDark) !important;
}

.text-title{
  font-family: 'Raleway', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue{
  color: var(--mainBurgandy);
}

.text-bright{
  color: var(--lightBlue);
}